# Git and IDE files
.git
.gitignore
.vscode/

# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Local configuration and secrets
.env

# Output & Tests files
output/
data/
tests/