# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Pytest
.pytest_cache/

# PyInstaller / Build artifacts
build/
dist/
# SuperCourierETL.exe

# Output files from the script
output_files_mono/