# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Pytest
.pytest_cache/

# PyInstaller / Build artifacts
build/
dist/
# SuperCourierETL.exe

# Nuitka / Build artifacts
main.build/
main.dist/

# Output files from the script
output_files_mono/
SuperCourierETL/output_files